body {
    background-color: gray;
    padding-top: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-shadow: 0 0 2px black, -2px -2px 2px black, 1px 0 2px black, 1px 1px 2px black;
    background: url('../images/bgimage.jpg') no-repeat;
    background-size: cover;
}
.container { 
    text-align: center;
    
}
h1,h2,h3,
h4,h5,h6 {
    padding: 4px;
    background-color: rgba(75, 250, 0, 0.36);

}
#title-image, #overImg, #winImg
{ 
    display: block;
    margin: 0 auto;
}

#word {
    letter-spacing: 9px;
}

#tryAgain{
    display: none;
} 

.gameplay-column {
    padding-top: 18px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    margin-top: 18px;
    min-height: 500px;
    background-color: rgba(18, 253, 241, 0.637);
}
#overImg{
    display: none;
    height:200px;
    width:300px;
} 
#winImg { 
display: none;
height:250px;
width:350px;
}
